@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Ms+Madi&family=Noto+Sans+JP&family=Raleway:ital,wght@1,100&family=Updock&display=swap');


/*
fontes para o site
font-family: 'Akshar', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Updock', cursive;
box-shadow: 3px 3px 10px #ffeae67c; */
* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;

}

:root {
    --cor0: #FFEAE6;
}



.menu {
    position: absolute;
    width: 100%;
    background-color: var(--cor0);
    padding: 0 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

.menu img {
    float: left;
    width: 100px;
    height: 100px;
}

nav {

    position: relative;
    float: right;
}

nav ul {

    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {

    display: block;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 17px;
}

nav ul li ul {
    display: block;
    background:rgba(255, 234, 230, 0.5);
    min-width: 250px;
    position: absolute;
    margin-top:70px;
    box-shadow: 0 2px 5px #000;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

nav ul li:hover ul{
    opacity: 1;
    visibility:visible;
}



nav ul li ul a {
    padding: 10px;
    
}
body {
    background-image:url("/img/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.border1 {
    border: 1px solid #000;
}
