* {
    margin: 0;
    padding: 0;
    }
   
    .menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
