@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+JP&family=Roboto&display=swap');

* {
  font-size: 62, 5%;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

:root {
  --japan: 'Noto Serif JP', serif;
  --paragraf: 'Roboto', sans-serif;
  --titulo: 'Lobster', cursive;
  --color0: hsl(12, 100%, 95%);
  --color1: hsl(13, 13%, 71%);
  --color2: hsl(9, 5%, 48%);
  --color3: hsl(17, 6%, 24%);
  --color4: hsl(10, 32%, 86%);
  --color-text-0: hsl(0, 0%, 100%);
  --color-text-1: hsl(0, 0%, 0%);
}

body {
  background: var(--color4);
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 7.5rem 1fr 7.5rem;
  grid-gap: 1rem;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer'
  ;
}

header {
  grid-area: header;
  background: var(--color3);
  justify-content: center;
  align-content: center;
  display: grid;
  color: var(--color-text-0)
}

main {
  grid-area: main;
  background: var(--color2);
  justify-content: stretch;
  align-content: stretch;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(auto, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.blog1 {
  background: var(--color4);
}


aside {
  grid-area: aside;
  background: var(--color1);
  justify-content: center;
  align-content: center;
  display: grid;
}

footer {
  padding: auto;
  grid-area: footer;
  background: var(--color3);
  justify-content: center;
  align-content: center;
  display: grid;
  color: var(--color-text-0)
}

@media(max-width:40rem) {
  aside {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer'
    ;
  }
}