@import url(/src/css/estilo.css);

header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-area: header;
  background-color: var(--color5);
  justify-content: right;
  align-items: center;

}

.logo {
  grid-area: logo;
  cursor: default;
  user-select: none;
}


nav {
  grid-area: nav;
  padding: .5rem 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  flex-wrap: wrap;
  margin: .2rem;
  gap: 1rem;
}

nav ul li {
  background: var(--color3);
  padding: .5rem 0;
  cursor: pointer;
}

nav ul li .items {
  width: auto;
  margin: 0 1rem;
  text-align: center;
}

nav ul li .items :after{
  position: absolute;
  content: " ";
  height
}

nav ul li a {
  color: var(--color-text-0);
  text-decoration: none;
}

@media all and (max-width:90rem) {
  nav {
    width: 100vw;
    padding: 1.5rem 3rem;
  
  }

  .items {
    width: 100vw;
  }
}